
@font-face {
    font-family: 'GameOfThrones';
    src: url(./assets/Game\ of\ Thrones.ttf);
}

:root {
    --grayCOlor : #4A4A4A;
    --whiteColor : #FFFAFA;
}

*{
    box-sizing: border-box;
}
html{
    height: 100vh;
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width:94vw;
    margin: 0 auto;
    background-color: black;
}

.container {
    display:flex;
    flex-direction: row;
    height: 100%;
}

.column-left {
    flex: 1;
}

.background-img {
    background-image: url(./assets/fire.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display:flex;
}

#logo {
    height:8vw;
    background-color: rgba(0, 0, 0, 0.452);
    align-self: center;
    flex-grow: 1;
    padding-left: 4%;
    padding-right: 14%;
    display:flex;
    justify-content: center;
    position: relative;
    top:-20%;

}

#logo p {
    opacity: 100%;
    color: white;
    font-size: 2.5vw;
    align-self: center;
    align-items: center;
    font-family:'GameOfThrones';
}

#logo img {
    height: 80%;
    align-self: center;
    aspect-ratio: 1/1;
    margin: 4%;
    
}

.column-right {
    flex: 1.7;
    background-color: white;
    display:flex;
    flex-direction: column;
}



.row-top{
    flex:4;
    background-color: var(--grayCOlor);
    box-sizing: border-box;
    flex-basis: calc(100%*4/11);
    padding: 15% 15% 3.75% 1.85%;

    
}

.row-top p{
    color:white;
    font-size: 2em;  

}

.row-middle{
    flex:3;
    flex-basis: calc(100%*3/11);
    background-color: var(--whiteColor);

}

.row-bottom{
    flex:4;
    background-color: var(--grayCOlor);
    flex-basis: calc(100%*4/11)

}

.row {
    flex-shrink: 0;
}




